/** Project issue filters **/
.view-filters {
    float: left;
    width: 250px;
    padding-right: 19px;
    border-right: 1px solid #DDD;
}

.view-filters .view-exposed-widget {
    clear: both;
}

/** Project issues */
.view-content {
    float: right;
    width: 660px;
}

.view-content .project-issue tr {
    display: block;
    border-left: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    padding: 8px;
}

.view-content .project-issue td {
    display: inline;
    border-bottom: none;
}

.view-content .project-issue thead,
.view-content .project-issue td.views-field-sid,
.view-content .project-issue td.views-field-priority,
.view-content .project-issue td.views-field-category,
.view-content .project-issue td.views-field-changed,
.view-content .project-issue td.views-field-name,
.view-content .project-issue td.views-field-created,
.view-content .project-issue td.views-field-last-comment-timestamp,
.view-content .project-issue td.views-field-comment-count a,
.view-content .project-issue td.views-field-comment-count br,
.view-content .project-issue td span.marker {
    display: none;
}

.view-content .views-field-project-issue-queue:after {
    content: "»";
}

.view-content td.views-field-comment-count {
    display: inline-block;
    float: right;
    font-size: 9px;
    width: 10%;
}

.view-content .views-field-comment-count:after {
    content: " comments";
}

body .view-content .project-issue {
    width: 100%;
    border: 1px solid #D8D8D2;
    border-radius: 5px;
}

body .view-content .project-issue tr.odd,
body .view-content .project-issue tr.even {
    border-bottom: 1px solid #D8D8D2;
}

.view-content .project-issue tr td,
.view-content .project-issue tr td.active {
    border-bottom: none;
    vertical-align: middle;
}

.view-content .project-issue tr.state-1 td,
.view-content .project-issue tr.state-2 td,
.view-content .project-issue tr.state-3 td,
.view-content .project-issue tr.state-4 td,
.view-content .project-issue tr.state-5 td,
.view-content .project-issue tr.state-6 td,
.view-content .project-issue tr.state-7 td,
.view-content .project-issue tr.state-8 td,
.view-content .project-issue tr.state-9 td,
.view-content .project-issue tr.state-10 td,
.view-content .project-issue tr.state-11 td,
.view-content .project-issue tr.state-12 td,
.view-content .project-issue tr.state-13 td,
.view-content .project-issue tr.state-14 td,
.view-content .project-issue tr.state-15 td {
    background-color: transparent;
    border-top: none;
}

.view-content .project-issue td.views-field-sid,
.view-content .project-issue td.views-field-component,
.view-content .project-issue td.views-field-version {
    display: inline-block;
    font-size: 11px;
    padding: 1px 4px;
    -webkit-font-smoothing: antialiased;
    border-radius: 2px;
    text-decoration: none;
    font-weight: bold;
}

.view-content .project-issue tr.state-1 td.views-field-sid {
    background-color: #CCC;
}

.view-content .project-issue tr.state-2 td.views-field-sid {
    background-color: #A8FF98;
}

.view-content .project-issue tr.state-4 td.views-field-sid {
    background-color: #B5C4FE;
}

.view-content .project-issue tr.state-8 td.views-field-sid {
    background-color: #FFCF73;
}

.view-content .project-issue tr.state-13 td.views-field-sid {
    background-color: #FFDCCD;
}

.view-content .project-issue tr.state-14 td.views-field-sid {
    background-color: #BCFFB3;
}

.view-content .project-issue tr.state-15 td.views-field-sid {
    background-color: #BCFFB3;
}

.view-content .project-issue td a,
.view-content .project-issue td a:link,
.view-content .project-issue td a:visited,
.view-content .project-issue td a:active {
    color: #000;
}

.view-content .project-issue td.views-field-project-issue-queue {
    padding: 0;
}

.view-content .project-issue td.views-field-project-issue-queue a,
.view-content .project-issue td.views-field-project-issue-queue a:link,
.view-content .project-issue td.views-field-project-issue-queue a:visited,
.view-content .project-issue td.views-field-project-issue-queue a:active {
    color: #888;
    font-size: 11px;
}

body .project-issue tr.odd {
    background-color: #F9F9F9;
}

.view-content .project-issue td.views-field-component {
    color: #ccc;
    font-weight: normal;
}

.view-content .project-issue tr td.views-field-version {
    border: 1px solid #B5C4FE;
    border-top: 1px solid #B5C4FE;
    font-weight: normal;
    color: #ccc;
}

.view-content .project-issue tr td.views-field-title {
    max-width: 550px;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    display:block;
    padding: 0;
}

