/** Hide stuff **/
#masthead-container,
#uni-messages,
.yj-nav-menu .nav-list-link.private,
.yj-byline a:first-child,
.yj-byline .yj-in-reply-to,
#sidebar-suggestions-container,
.yj-activity-ticker,
#sidebar div:nth-child(7),
#sidebar .ir-modules,
#online-now,
#column-three,
#yj-yam.ui.chat.ChatManager {
    display: none !important;
}

body {
    margin-top: -57px !important;
}

div.yj-avatar img,
div.yj-main-mugshot img {
    border-radius: 3px;
}

.yj-thread-starter div.yj-message-body {
    padding: 3px;
    background: #EEE;
    border-radius: 3px;
}

.yj-thread-starter div.yj-message-body::before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    border: 10px solid #EEE;
    border-width: 10px 10px 10px 0;
    border-color: transparent #EEE transparent transparent;
    position: absolute;
    left: 50px;
    top: 15px;
}

.yj-thread-starter .yj-message {
    min-height: 60px;
    border: 1px solid #CACACA;
    background-color: #FFF;
    padding: 10px;
}

.yj-thread-reply-list-item .yj-avatar-thumb {
    width: 26px;
    height: 26px;
}

.legibility .yj-thread-starter .yj-message-container .yj-byline,
.legibility .yj-thread-starter .yj-message-body .yj-message,
.legibility .yj-message .expand-body,
.legibility .yj-message .collapse-body,
body {
    font-family: Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
    color: #444;
    font-size: 13px;
}

.yj-thread-reply-list-item .yj-message-container,
.yj-thread-replies .yj-unread .yj-message-container {
    font-size: 12px;
}

.yj-thread-reply-list-item .yj-in-reply-to-user,
.yj-thread-reply-list-item .yj-reply-to-thread-starter .yj-in-reply-to-user {
    display: inline !important;
}

/** Use the recyle symbol in place of 'in reply to' **/
.yj-byline .yj-in-reply-to-user::before,
.yj-thread-reply-list-item .yj-reply-to-thread-starter .yj-in-reply-to-user::before {
    content: "♻ " !important;
}

/** Move the sidebar to the right **/
.two-column-layout .column {
    float: right !important;
}

.two-column-layout .column-two-left {
    left: -260px !important;
}

.two-column-layout #column-one {
    left: -230px !important;
}

/** Remove background now that menu is on the right **/
.two-column-layout, .three-column-layout {
    background: none !important;
}

/** Since the menu is now on the right, swap the border-radius **/
.yj-nav-menu .yj-selected .nav-list-link,
.yj-nav-menu .nav-list-link:hover {
    border-radius: 0 3px 3px 0;
}